@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to File Hosting/Sharing Website</h1>
    <p>Here you can upload or download files.</a>.</p>
</div>
